/* Colors

rgb(229, 129, 62) - QC Orange
rgb(54, 117, 174) - QC Blue

*/


/* Normal stuff */

h1 {
	text-align: center;
	font-size: 2.5em;
	border-bottom: 1px solid rgb(221, 221, 221);
	line-height: 1.7em;
}

.banner {
	background-color: rgb(229, 129, 62);
	color: white;
	padding: 3%;
	margin: 0px auto;
	text-align: center;
	font-weight: bold;
	border-bottom: 3px solid rgb(213, 107, 40);
}

a {
	color: rgb(65, 131, 196);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	font-size: 1em;
}

table {
	margin: 25px auto;
	border-collapse: collapse;
}

table, td {
	border: 1px solid #333;
}

.bold {
	font-weight: bold;
}

img {
	padding: 3%;
	border: 1px solid rgb(221,221,221);
	width: 94%;
	margin: 1.5% 0px;
}

/* Nav stuff */

nav {
	border-bottom: 1px solid rgb(229, 229, 229);
	background-color: rgb(243, 243, 243);
	background-image: linear-gradient(rgb(249, 249, 249), rgb(243, 243, 243));
	background-repeat: repeat-x;
}

#navInner {
	margin: 0px auto;
	max-width: 974px;
}

.navItem {
	display: inline-block;
	padding: 7px;
	color: #666;
	font-weight: bold;
	font-size: 14px;
}

.navItem:hover {
	color: rgb(65, 131, 196);
}

/* Misc */

.map {
	width: 640px;
	padding: 2%;
	border: 1px solid rgb(221,221,221);
	margin: 5% auto;
}

#pools > tbody > tr > td:nth-child(odd) {
	background-color: rgba(54, 117, 174, 0.2) !important;
	color: inherit !important;
}

#pools > tbody > tr > td:nth-child(odd):hover {
	cursor: pointer;
	background-color: rgba(54, 117, 174, 0.5) !important
}

#pools > tbody > tr:nth-child(1) > td:nth-child(odd) {
	background-color: white !important;
}

/* Site structure */

#wrapper {
	padding: 3%;
	margin: 0px auto;
	max-width: 960px;
	box-shadow: 0px 2px 3px #888;
	background-color: white;
}

/* Universal Stuff */

* {
	color: #333;
	font-family: "Helvetica", sans-serif;
}

body {
	margin: 0px;
	width: 100%;
	background-image: linear-gradient(to top, #FFFFFF 0%, rgb(229, 129, 62) 150%);
	background-repeat: no-repeat;
}