/* Colors

rgb(229, 129, 62) - QC Orange
rgb(54, 117, 174) - QC Blue

*/


/* Normal stuff */

h1 {
	font-size: 2.5em;
	border-bottom: 1px solid rgb(221, 221, 221);
	line-height: 1.7em;
}

.banner {
	background-color: rgb(229, 129, 62);
	color: white;
	padding: 3%;
	margin: 0px auto;
	text-align: center;
	font-weight: bold;
	border-bottom: 3px solid rgb(213, 107, 40);
}

a {
	color: rgb(65, 131, 196);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	font-size: 1em;
}

table {
	margin: 25px auto;
	border-collapse: collapse;
}

table, td {
	border: 1px solid #333;
}

.bold {
	font-weight: bold;
}

img {
	padding: 3%;
	border: 1px solid rgb(221,221,221);
	width: 94%;
	margin: 1.5% 0px;
}

/* Nav stuff */

nav {
	background-color: #333;
	float: left;
	width: 20%;
	position: fixed;
}

#navInner {
	margin: 0px auto;
	max-width: 974px;
}

.navItem {
	display: block;
	padding: 7% 7px;
	color: #eee;
	font-weight: bold;
	font-size: 14px;
	border-bottom: 1px solid #444;
	padding-left: 7%;
	transition: 0.2s;
	opacity: 0.7;
	font-family: "Arial";
	font-size: 16px;
}

.navItem:hover {
	color: white;
	border-color: rgb(229, 129, 62);
	text-decoration: none;
}

/* Misc */

#menu-button {
	border: none;
	position: relative;
	margin: 3%;
	margin-left: 0px;
	background-color: #333;
	color: white;
	height: 55px;
	width: 55px;
	text-align: center;
	transition: 0.1s;
	padding: 0px;
}

.map {
	width: 640px;
	padding: 2%;
	border: 1px solid rgb(221,221,221);
	margin: 5% auto;
}

#pools > tbody > tr > td:nth-child(odd) {
	background-color: rgba(54, 117, 174, 0.2) !important;
	color: inherit !important;
}

#pools > tbody > tr > td:nth-child(odd):hover {
	cursor: pointer;
	background-color: rgba(54, 117, 174, 0.5) !important
}

#pools > tbody > tr:nth-child(1) > td:nth-child(odd) {
	background-color: white !important;
}

/* Site structure */

#wrapper {
	float: right;
	width: 74%;
	padding: 3%;
	margin: 0px auto;
	display: inline-block;
	padding-top: 0px;
	background-color: white;
	transition: 0.2s;
}

#nother {
	max-width: 60%;
	margin: 0px auto;
}

/* Universal Stuff */

* {
	color: #333;
	font-family: "Helvetica", sans-serif;
}

body {
	margin: 0px;
	width: 100%;
	background-color: #333;
}

@media (min-width: 1081px) {

	#menu-button:hover {
		-webkit-transform: rotate(11deg);
		-moz-transform:    rotate(11deg);
		-ms-transform:     rotate(11deg);
		-o-transform:      rotate(11deg);
		transform:         rotate(11deg);
		background-color: rgb(229, 129, 62);
		cursor: pointer;
	}

}

@media handheld {

	#menu-button:hover {
		-webkit-transform: rotate(0deg);
		-moz-transform:    rotate(0deg);
		-ms-transform:     rotate(0deg);
		-o-transform:      rotate(0deg);
		transform:         rotate(0deg);
		background-color: rgb(229, 129, 62);
		cursor: pointer;
	}

}