/* Colors

rgb(229, 129, 62) - QC Orange
rgb(54, 117, 174) - QC Blue

*/

@media (max-width: 1079px) {
	
	nav {
		display: none;
	}

	#wrapper {
		left: 0%;
	}

	#nother {
		width: 80%;
	}

}

@media (min-width: 1080px) {

	#wrapper {
		left: 20%;
	}

	#nother {
		width: 60%;
		left: 20%;
	}

}

#wrapper {
	padding: 3%;
	margin: 0px auto;
	display: inline-block;
	padding-top: 0px;
	background-color: white;
	position: absolute;
	width: 100%;
	transition: 0.2s;
}

/* Normal stuff */

h1 {
	font-size: 2.5em;
	border-bottom: 1px solid rgb(221, 221, 221);
	line-height: 1.7em;
}

.banner {
	background-color: rgb(229, 129, 62);
	color: white;
	padding: 3%;
	margin: 0px auto;
	text-align: center;
	font-weight: bold;
	border-bottom: 3px solid rgb(213, 107, 40);
}

a {
	color: rgb(65, 131, 196);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	font-size: 1em;
}

table {
	margin: 25px auto;
	border-collapse: collapse;
}

table, td {
	border: 1px solid #333;
	text-align: center;
}

.bold {
	font-weight: bold;
}

img {
	padding: 3%;
	border: 1px solid rgb(221,221,221);
	width: 94%;
	margin: 1.5% 0px;
}

/* Nav stuff */

nav {
	background-color: #333;
	float: left;
	width: 20%;
}

#navInner {
	margin: 0px auto;
	max-width: 974px;
}

.navItem {
	display: block;
	padding: 7% 7px;
	color: #eee;
	font-weight: bold;
	font-size: 14px;
	border-bottom: 1px solid #444;
	padding-left: 7%;
	transition: 0.2s;
	opacity: 0.7;
	font-family: "Arial";
	font-size: 16px;
}

.navItem:hover {
	color: white;
	border-color: rgb(229, 129, 62);
	text-decoration: none;
}

/* Misc */

#menu-button {
	border: none;
	position: relative;
	margin: 3%;
	margin-left: 0px;
	background-color: #333;
	color: white;
	height: 55px;
	width: 55px;
	text-align: center;
	transition: 1s;
	padding: 0px;
}

#menu-button:hover {
	background-color: rgb(229, 129, 62);
	cursor: pointer;
}

.map {
	width: 640px;
	padding: 2%;
	border: 1px solid rgb(221,221,221);
	margin: 5% auto;
}

#pools > tbody > tr > td:nth-child(odd) {
	background-color: rgba(54, 117, 174, 0.2) !important;
	color: inherit !important;
}

#pools > tbody > tr > td:nth-child(odd):hover {
	cursor: pointer;
	background-color: rgba(54, 117, 174, 0.5) !important
}

#pools > tbody > tr:nth-child(1) > td:nth-child(odd) {
	background-color: white !important;
}

#pools > tbody > tr:not(:nth-child(1)) > td {
	cursor: pointer;
}

#pools > tbody > tr:nth-child(1) > td {
	cursor: auto !important;
}

td > p {
	margin: 5px 0;
}

/* Make the results page tables uniform width */
.results > tbody > tr > td {
	min-width: 83px;
}

/* Make the later columns (wins -->) thinner so as to fit the table on the page better */
td:nth-child(n+8) {
	min-width: 25px !important;
}

/* Wins */
tr > td:nth-child(8) {
	background: rgba(0, 255, 0, 0.2);
}

/* Ties */
tr > td:nth-child(9) {
	background: rgba(205, 205, 205, 1);
}

/* Losses */
tr > td:nth-child(10) {
	background: rgba(255, 0, 0, 0.2);
}

/* Site structure */

#nother {
	margin: 0px auto;
}

/* Universal Stuff */

* {
	color: #333;
	font-family: "Helvetica", sans-serif;
}

body {
	margin: 0px;
	width: 100%;
	background-color: #333;
}